# Build results
bin/
obj/
out/

# User-specific files
*.user
*.vs
.vscode/
*.suo
*.csproj.user

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp
*.cache
*.pid
*.sln.docstates

# OS-specific files
Thumbs.db
Desktop.ini
.DS_Store

# IDE settings
.vs/
.idea/

# Package directories
packages/

# NuGet Packages
*.nupkg
*.snupkg

# Merge conflicts
*.orig
